@using WebEditor.ViewComponents;
@using WebEditor.ViewModels
@model IEnumerable<ProductVM>
<div>
    @{
        /*
        foreach (ProductVM item in Model){    
            <li><a href='/ProductMain/ProductDetails?id=@item.Propertys["pname"]'> @item.Propertys["pname"] </a></li>
        }
        */
    }
</div>