@using WebEditor.ViewComponents;
@using WebEditor.ViewModels
@model IEnumerable<ProductVM>
<div>
    @{
        /*
        foreach (ProductVM item in Model){    
            <li><a href='/ProductMain/ProductDetails?id=@item.Propertys["name"]'> @item.Propertys["name"] </a></li>
        }
        */
    }
</div>