@using WebEditor.ViewComponents;
@model IEnumerable<ProdCategory>
<div>
    @foreach (ProdCategory item in Model)
    {
        <li><a href="/ProductMain/ProductList?id=@item.id"> @item.tname </a></li>
    }
</div>