@using WebEditor.ViewComponents;
@model IEnumerable<Product>

<link rel="stylesheet" href="/lib/album/swiper.css">
<link rel="stylesheet" href="/lib/album/style.css">

<!-- Swiper -->
<div class="father-container col-md-12">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @foreach (Product item in Model)
            {
                <text>
                    <div class="swiper-slide">
                        <div>
                            <img class="thumbs" src="@item.image_url" />
                            <div class="detial">@item.name</div>
                        </div>
                    </div>
                </text>
            }
        </div>
        <!-- Add Pagination -->
        <!-- <div class="swiper-pagination"></div> -->
        <!-- Add Scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
</div>
<!-- Swiper JS -->
<script src="/lib/album/swiper.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 3,
        spaceBetween: 4,
        /*
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
            renderBullet: function (index, className) {
                return '<span class="' + className + '">' + (index + 1) + '</span>';
            },
        },
        */
        scrollbar: {
            el: '.swiper-scrollbar',
            hide: true,
        },
    });
</script>