@using WebEditor.ViewComponents;
@using WebEditor.ViewModels;
@using System.Collections;
@model ProductVM
<div>
    @{
        /*
        foreach(DictionaryEntry item in Model.Propertys)
        {
            <li>[@item.Key]: @item.Value</li>
        }
        */
    }
</div>